{% if count == 0 %}
<div class="p-4 w-full max-w-full h-full max-h-full">
    <div class=" hero bg-base-200 max-h-full max-w-full h-full w-full rounded-2xl">
        
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-4xl font-bold">暂无记录</h1>
                <p class="py-6 text-neutral-content">
                    同一触发位置的异常只会被记录一次
                </p>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="w-full max-w-full">
    <div class="flex flex-col max-w-full w-full gap-y-4 p-6">

        <div class="flex flex-row gap-x-4">

            <div class="stats stats-horizontal shadow-md bg-base-200 w-1/4 min-w-fit max-h-32">
                <div class="stat w-full">
                    <div class="stat-title">{{ title }}</div>
                    <div class="stat-value">{{ count }}</div>
                    <div class="stat-desc">{{ date }}</div>
                </div>
            </div>
        </div>

        <!-- 表格部分 -->
        <div class="bg-base-200 rounded-2xl shadow-lg p-4 w-full min-w-full">
            <!-- <label class="input input-sm input-bordered flex items-center m-2 w-1/4">
                <input type="text" class="grow" placeholder="查找异常头" />
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
                        <path fill-rule="evenodd"
                            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </label> -->
            <table class="table table-xs lg:table-sm">

                <!-- 表格头部 -->
                <thead>
                    <tr>
                        <th class="max-w-8 w-8"></th>
                        <th class="max-w-18 w-18">状态</th>
                        <th class="max-w-56 w-56">异常信息</th>
                        <th class="flex-grow">触发位置</th>
                        <th class="w-32">最新触发日期</th>
                        <th class="max-w-24 w-24">最新版本</th>
                        <th class="max-w-24 w-24">触发次数</th>
                        <th class="w-24">触发记录列表</th>
                        <th class="w-12">拒绝再次汇报</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ex in exceptions %}
                    <tr>
                        <th class="max-w-8 w-8">{{ current_page * page_size + loop.index }}</th>
                        <td class="max-w-18 w-18">
                            {% if ex['status'] == 0 %}
                            <svg class="w-6 h-6 text-red-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 5 9 4V3m5 2 1-1V3m-3 6v11m0-11a5 5 0 0 1 5 5m-5-5a5 5 0 0 0-5 5m5-5a4.959 4.959 0 0 1 2.973 1H15V8a3 3 0 0 0-6 0v2h.027A4.959 4.959 0 0 1 12 9Zm-5 5H5m2 0v2a5 5 0 0 0 10 0v-2m2.025 0H17m-9.975 4H6a1 1 0 0 0-1 1v2m12-3h1.025a1 1 0 0 1 1 1v2M16 11h1a1 1 0 0 0 1-1V8m-9.975 3H7a1 1 0 0 1-1-1V8"/>
                            </svg>
                            {% elif ex['status'] == 1 %}
                            <svg class="w-6 h-6 text-yellow-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.193-.538 1.193H5.538c-.538 0-.538-.6-.538-1.193 0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365Zm-8.134 5.368a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M8.54 17.901a3.48 3.48 0 0 0 6.92 0H8.54Z"/>
                            </svg>
                            {% elif ex['status'] == 2 %}
                            <svg class="w-6 h-6 text-green-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                            </svg>
                            {% else %}
                            <svg class="w-6 h-6 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.008-3.018a1.502 1.502 0 0 1 2.522 1.159v.024a1.44 1.44 0 0 1-1.493 1.418 1 1 0 0 0-1.037.999V14a1 1 0 1 0 2 0v-.539a3.44 3.44 0 0 0 2.529-3.256 3.502 3.502 0 0 0-7-.255 1 1 0 0 0 2 .076c.014-.398.187-.774.48-1.044Zm.982 7.026a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2h-.01Z" clip-rule="evenodd"/>
                            </svg>
                            {% endif %}
                        </td>

                        
                        <td class="max-w-56 w-56 truncate">{{ ex['except_info'] }}</td>
                        <td class="flex-grow text-left tooltip tooltip-bottom" data-tip="{{ ex['except_pos'] }}">{{ ex['except_pos'] }}</td>
                        <td class="w-32 truncate ">{{ ex['update_time'] }}</td>
                        <td class="max-w-24 w-24 truncate ">{{ ex['update_version']}}</td>
                        <td class="max-w-24 w-24">{{ ex['count'] }}</td>
                        <td class="w-12">
                            <a href="/doloctown/bug/exception/session/{{ ex['id'] }}/0" class="btn btn-ghost btn-xs">
                                查看
                            </a>
                        </td>

                        {% if ex['reject'] %}
                        <td class="w-12"><a><input type="checkbox" checked="check" class="checkbox-xs checkbox" onchange="bug_exception_update_reject('/doloctown/bug/exception/update/reject', '{{ ex['id'] }}', false)" /></a></td>
                        {% else %}
                        <td class="w-12"><a><input type="checkbox" class="checkbox-xs checkbox" 
                            onchange='bug_exception_update_reject("/doloctown/bug/exception/update/reject", "{{ ex['id'] }}", true)' /></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if pages|length > 1 %}

            <div class="flex flex-row w-full min-w-full justify-center items-center">
                <div class="join">
                    {% for link in page_links %}
                        {% if link == "" %}
                        <button class="join-item btn btn-active">{{ pages[loop.index0] }}</button>
                        {% else %}
                        <button class="join-item btn" onclick="load_main('{{ link }}')">{{ pages[loop.index0] }}</button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endif %}
    </div>
</div>
{% endif %}